{% extends "admin_layout.html" %}
{% block content %}

            <!-- Content -->
            <div class="container mt-4">
                <div class="dashboard-title">Admin Dashboard</div>
                <div class="summary-subtitle">Summary shows statistical charts</div>

                <!-- Charts -->
                <div class="chart-container">

                <div class="chart-box">
                    <canvas id="revenueChart"></canvas>
                    <div class="chart-label">Revenue from each parking lot</div>
                </div>

                <div class="chart-box">
                    <canvas id="statusChart"></canvas>
                    <div class="chart-label">Summary on available and occupied parking lots</div>
                </div>

                </div>
            </div>
{% endblock %}