{% extends "admin_layout.html" %}
{% block content %}

            <!-- Content -->
            <div class="container mt-4">
                <div class="dashboard-title">Admin Dashboard</div>
                <div class="container mt-4">
                    <h2 class="mb-4">All Reservations</h2>
                        <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Lot</th>
                            <th>Spot</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in reservations %}
                            <tr>
                                <td>{{ r.id }}</td>
                                <td>{{ r.user.email }}</td>
                                <td>{{ r.parking_lot.name }}</td>
                                <td>{{ r.parking_spot.id }}</td>
                                <td>{{ r.park_time.strftime('%Y-%m-%d %H:%M') if r.park_time else 'N/A' }}</td>
                                <td>{{ r.release_time.strftime('%Y-%m-%d %H:%M') if r.release_time else 'N/A' }}</td>
                                <td>₹{{ r.cost }}</td>
                            </tr>


                            {% endfor %}
                        </tbody>
                        </table>
                </div>
                <div class="summary-subtitle">Summary shows statistical charts</div>

                <!-- Charts -->
                <div class="chart-container">

                <div class="chart-box">
                    <canvas id="revenueChart"></canvas>
                    <div class="chart-label">Revenue from each parking lot</div>
                </div>

                <div class="chart-box">
                    <canvas id="statusChart"></canvas>
                    <div class="chart-label">Summary on available and occupied parking lots</div>
                </div>

                </div>
            </div>
{% endblock %}