{% extends "admin_layout.html" %}
{% block content %}
                <!-- Search Section -->
                <div class="search-section">
                  <label class="fw-bold">Search by</label>
                  <select>
                    <option value="user">User ID</option>
                    <option value="location">Location</option>
                  </select>
                  <input type="text" placeholder="Enter search string">
                  <button class="btn btn-primary btn-sm">Search</button>
                </div>

                <div class="container mt-4">
                  {% if parking_lots %}
                    <h3 class="text-primary mb-3">Parking Lots</h3>
                    <div class="row">
                      {% for parking_lot in parking_lots %}
                      <!-- Parking Lot 1 -->
                      <div class="col-md-4">
                        <div class="lot-card">
                          <h5>{{parking_lot.name}}</h5>
                          <h6>{{parking_lot.address}}</h6>
                          <a href="{{ url_for('edit_parking_lot', lot_id=parking_lot.id, name=name) }}" class="text-success">Edit</a> |
                          <a href="{{ url_for('delete_parking_lot', lot_id=parking_lot.id, name=name) }}" class="text-danger">Delete</a>
                          <p class="text-info mt-2">Max_spots:{{parking_lot.max_spots}}</p>
                          <p class="text-info mt-2">Price:{{parking_lot.price}}</p>
                          {% if parking_lot.spots %}
                            <div class="spot-grid mt-2">
                              {% for spot in parking_lot.spots %}
                                <a href="{{ url_for('view_spot', spot_id=spot.id, lot_id=parking_lot.id, name=name) }}">
                                  <button type="button" 
                                          class="spot-box {% if spot.status == 'O' %}occupied{% else %}available{% endif %}">
                                    {{ spot.status }}
                                  </button>
                                </a>

                              {% endfor %}
                            </div>
                          {% else %}
                            <p>No occupied here !!!</p>
                          {% endif %}
                        </div>
                      </div>
                      {% endfor %}                  
                    </div>
                    {% else %}
                    <h3 class="center"> No parking lots are available!!!</h3>
                    {% endif %}
                    <!-- Add Lot Button -->
                    <div class="text-center mt-4">
                      <a href="/parking_lot/{{name}}" type="button" class="btn btn-info">+ Add Lot</a>
                    </div>
                </div>
{% endblock %}


<!--# done the auth today too-->