{% extends "admin_layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="dashboard-title">Registered Users</div>
    <div class="box">
        <table class="table table-bordered text-center">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Pin Code</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    {% if user.email != "admin@iitm.ac.in" %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.pin_code }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
