*{
    margin:10px;
}

.my_container{
    border: 2px solid black;

}

.my_panel{
    width: 80%;
    margin: auto;
    height: auto;
    border: 1px dashed black;
}

.input_form{
    border: 1px solid blue;
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
}

.outer_box{
    border: 1px solid orange;
    margin-top:10px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.center{
    text-align: center;
    margin: auto;
    color: rgb(5, 5, 110);
}

/* for admin_dashboards */

.navbar-custom {
    background-color: #d0f0c0;
  }
  .lot-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
  }
  .spot {
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-weight: bold;
  }
  .occupied {
    background-color: #f8c8dc;
  }
  .available {
    background-color: #aef3ae;
  }


  /* for user_dashboards */


  .box {
    border: 2px solid #a3c9f9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }
  .section-title {
    color: #1e66d1;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* for users in admin dashboard */
  body {
    font-family: Arial, sans-serif;
  }

  .navbar-custom {
    background-color: #d0f0c0;
    border-bottom: 1px solid #ccc;
  }

  .dashboard-title {
    font-size: 22px;
    color: #c0392b;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .section-title {
    color: #216ef3;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .box {
    border: 2px solid #a3c9f9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .footer-note {
    color: red;
    font-style: italic;
    margin-top: 10px;
    text-align: left;
  }

  /* for admin summary page */



  .summary-subtitle {
    color: #e67e22;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }



/* for search bar */

.search-section {
  margin: 30px auto;
  text-align: center;
}

.search-section select,
.search-section input {
  padding: 8px;
  margin: 5px;
  font-size: 16px;
}

.search-title {
  color: #2980b9;
  font-size: 20px;
  margin: 30px 0 15px;
  text-align: center;
  font-weight: bold;
}

/* for user summary page */
.chart-container {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}