*{
    margin:10px;
}

.my_container{
    border: 2px solid black;

}

.my_panel{
    width: 80%;
    margin: auto;
    height: auto;
    border: 1px dashed black;
}

.input_form{
    border: 1px solid blue;
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
}

.outer_box{
    border: 1px solid orange;
    margin-top:10px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.center{
    text-align: center;
    margin: auto;
    color: rgb(5, 5, 110);
}

/* for admin_dashboards */

.navbar-custom {
    background-color: #d0f0c0;
  }
  .lot-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
  }
  .spot {
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-weight: bold;
  }
  .occupied {
    background-color: #f8c8dc;
  }
  .available {
    background-color: #aef3ae;
  }


  /* for user_dashboards */


  .box {
    border: 2px solid #a3c9f9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }
  .section-title {
    color: #1e66d1;
    font-weight: bold;
    margin-bottom: 10px;
  }
  